<?xml version="1.0"?>

<robot name="line_follower_robot"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find line_follower_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find line_follower_description)/urdf/base.xacro"/>
  <xacro:include filename="$(find line_follower_description)/urdf/wheels.xacro"/>

  <xacro:wheel prefix="left" y_position="0.11"/>
  <xacro:wheel prefix="right" y_position="-0.11"/>
  
    <!-- Gazebo Differential Drive Plugin -->

  <gazebo>

    <plugin
      filename="libgazebo_ros_diff_drive.so"
      name="diff_drive_controller">

      <ros>
        <namespace>/</namespace>
      </ros>

      <update_rate>50</update_rate>

      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>

      <wheel_separation>0.22</wheel_separation>
      <wheel_diameter>0.10</wheel_diameter>

      <command_topic>cmd_vel</command_topic>

      <odometry_topic>odom</odometry_topic>

      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>

      <publish_odom>true</publish_odom>
      <publish_tf>true</publish_tf>

    </plugin>

  </gazebo>
  
  

</robot>

